.Resumebtn{

background-color: black;
color: white;
border-radius: 25px;
padding: 10px 20px;

transition: all 0.37s;

}

.Resumebtn:hover{
 background-color: gray;
 color: rgb(241, 229, 241);
 transform: scale(0.90);
}